{% extends 'base.htm' %}

{% block title %}
Registeration Page
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <!-- For Demo Purpose -->
        <div class="col-md-5 pr-lg-5  col-sm-12 mb-5 mb-md-0">
            <img src="https://res.cloudinary.com/mhmd/image/upload/v1569543678/form_d9sh6m.svg" alt=""
                class="img-fluid mb-3 d-none d-md-block">
            <h1>Create an Account</h1>
        </div>

        <!-- Registeration Form --> 
        <div class="col-md-7 col-lg-6  ml-auto   mt-5 dd">
            
            <form action="{% url 'register' %}" method="POST" enctype="multipart/form-data">  
                {% csrf_token %}
                <div class="row">

                    <!-- First Name -->
                    <div class="input-group col-lg-6 col-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                
                            </span>
                        </div>
                        <input id="firstName" type="text" name="first_name" required placeholder="First Name"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Last Name -->
                    <div class="input-group col-lg-6 col-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                
                            </span>
                        </div>
                        <input id="lastName" type="text" name="last_name" required placeholder="Last Name"
                            class="form-control bg-white border-left-0 border-md">
                    </div>
                    <!-- User Name -->
                    <div class="input-group col-lg-12 col-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                    
                            </span>
                        </div>
                        <input id="Username" type="text" name="username" required placeholder="User Name"
                            class="form-control bg-white border-left-0 border-md">
                    </div>



                    <!-- Email Address -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                
                            </span>
                        </div>
                        <input id="email" type="email" name="email" required placeholder="Email Address"
                            class="form-control bg-white border-left-0 border-md">
                    </div>
                    <!-- Branch Name -->
                    <div class="input-group col-lg-12 col-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                    
                            </span>
                        </div>
                        <select id="branch" name="branch"  class="form-control custom-select bg-white border-left-0 border-md">
                            {% if branchs %}
                                {% for branch in branchs %}
                                    <option value="{{branch.branch_id}}">{{branch.branch_name}}</option>
                                {% endfor %}
                            {% else %}
                                    <!-- <option value="MECH">MECH</option>
                                    <option value="EEE">EEE</option>
                                    <option value="ECE">ECE</option>
                                    <option value="CIVIL">Civil</option>
                                    <option value="IT">IT</option>   -->
                            {% endif %}
                            
                        </select>
                    </div>
                    <!-- Semester -->
                    <div class="input-group col-lg-12 col-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                    
                            </span>
                        </div>
                        <select id="sem" name="sem"  class="form-control custom-select bg-white border-left-0 border-md">
                            {% if sems %}
                                {% for sem in sems %}
                                <option value="{{sem.sem_id}}">{{sem.sem_name}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>
                    <!-- Course -->
                    <div class="input-group col-lg-12  col-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                    
                            </span>
                        </div>
                        <select id="course" name="course"  class="form-control custom-select bg-white border-left-0 border-md">
                            {% if courses %}
                                {% for course in courses %}
                                    <option value="{{course.couse_id}}">{{course.course_name}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>


                    <!-- Phone Number -->
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                +91
                            </span>
                        </div>
                        <input id="phoneNumber" type="tel" required name="phone" placeholder="Phone Number"
                            class="form-control bg-white border-md border-left-0 pl-3">
                    </div>.


                    <div class="row input-group ml-0">
                    <!-- Password -->
                    <div class="input-group col-lg-6 col-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                
                            </span>
                        </div>
                        <input id="password" type="password" required name="password" placeholder="Password"
                            class="form-control bg-white border-left-0 border-md">
                    </div>

                    <!-- Password Confirmation -->
                    <div class="input-group col-lg-6 col-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                
                            </span>
                        </div>
                        <input id="passwordConfirmation" required type="text" name="password2"
                            placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                    </div>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            
                        </div>
                        <input type="text" name="address" required placeholder="address"
                            class="form-control bg-white border-md border-left-0 pl-3">
                    </div>.
                    <input type="file" name="photo" required >

                    <!-- Submit Button -->
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold"></span>Create your account</span>
                        </button>
                    </div>
            </form>

                    <!-- Divider Text -->
                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small text-muted font-weight-bold text-muted">OR</span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>
                    

                    <!-- Social Login
                    <div class="form-group col-lg-12 mx-auto">
                        <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                            <i class="fa fa-facebook-f mr-2"></i>
                            <span class="font-weight-bold">Continue with Facebook</span>
                        </a>
                        <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                            <i class="fa fa-twitter mr-2"></i>
                            <span class="font-weight-bold">Continue with Twitter</span>
                        </a>
                    </div> -->

                    <!-- Already Registered -->
                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a href="{% url 'login' %}"
                                class="text-primary ml-2">Login</a></p>
                    </div>

                </div>
            
        </div>
    </div>
</div>
{% endblock content %}
